BasedOnStyle: LLVM
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
BinPackParameters: false
BinPackArguments: false
IncludeBlocks: Regroup
